.interaction-button {
  color: white;
  background-color: darkcyan;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  width: max-content;
  text-align: center;
  cursor: pointer;
}

.interaction-button:hover {
  background-color: cadetblue;
}


button.interaction-button {
  font-size: 1em;
}

/* Masquer l'outline au focus empêche la navigation au clavier */
.interaction-button:focus {
  outline: none !important;
}

/* 
  Masquer la décoration des liens ne permet plus des les distinguer du contenu d'un texte.
  La couleur n'est pas un vecteur suffisant car non visible pour les personnes qui perçoivent mal les couleurs.
*/
.no-deco {
  text-decoration: none;
  color: crimson;
}