.interaction-button {
  color: white;
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  width: max-content;
  text-align: center;
  cursor: pointer;
}

.interaction-button:hover {
  background-color: cadetblue;
}


button.interaction-button {
  font-size: 1em;
}

/* Masquer l'outline au focus empêche la navigation au clavier */
.interaction-button:focus {
  outline: none !important;
}