/* 
  Masquer la décoration des liens ne permet plus des les distinguer du contenu d'un texte.
  La couleur n'est pas un vecteur suffisant car non visible pour les personnes qui perçoivent mal les couleurs.
*/
a.no-deco {
  text-decoration: none;
  color: darkcyan;
}

a.no-deco:hover {
  text-decoration: none;
  color: cadetblue;
}


button.no-contrast {
  background-color: #6abfad;
}

.couleurs p {
  color: #3c3d8b;
}