.formulaire input {
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: .5em;
}

.formulaire p {
  text-align: center;
  color: mediumblue;
  font-size: 1.5em;
}

div.error {
  color: crimson;
  font-size: .8em;
}

input.error {
  border: 2px solid crimson;
}