.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.container {
  margin: 1em;
}

.content {
	font-size: 1.5em;
}

.center {
  text-align: center;
}

.column {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.column > * {
	margin: 1em 0;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.button {
	font-size: 1em;
  color: white;
  background-color: darkcyan;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: .5em 1em;
  width: max-content;
  text-align: center;
  cursor: pointer;
}

.button.flat {
	background-color: transparent;
	color: darkcyan;
	border-color: darkcyan;
}

.button:hover {
	background-color: cadetblue;
	color: white;
}